/**
 * partials/nav
 * ---
 * Menus
 */


.nav {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
      display: inline-block;
      a {
        text-transform: uppercase;
        padding: 12px 40px;
        color: #ccc;
        font-weight: 600;
        font-size: 1rem;
        font-family: 'Gotham';
      }
    }
  }
}

.menu {}

.sub-menu {}

.menu-item {}
