/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */

// Modules
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";

// Partials
@import "partials/reset";
@import "partials/wordpress";
@import "partials/utils";
@import "partials/wrapper";
@import "partials/header";
@import "partials/nav";
@import "partials/sidebar";
@import "partials/footer";
@import "partials/print";
@import "partials/book-tour.scss";

html {
  font-size: 87.5% !important;
  body {
  font-size: 87.5%;
    section {
    }
    h1 {
      font-size: 2.4rem;
      font-family: 'Gotham' !important;
    }
    h2 {
      font-size: 2rem;
      font-family: 'Gotham' !important;
    }
    h3 {
      font-size: 1rem;
      font-family: 'Gotham' !important;
    }
    h4 {
      font-size: 1rem;
      text-transform: uppercase;
      font-family: 'Gotham' !important;
    }
    p {
      font-size: 1rem;
      font-family: 'Gotham' !important;
    }
    ul {
      li {
        font-size: 1rem;
        font-family: 'Gotham' !important;
      }
    }
    a {
      font-size: 1rem;
      font-family: 'Gotham' !important;
    }
    span {
      font-size: 1rem;
      font-family: 'Gotham' !important;
    }
    img {
      max-width: 100%;
    }
    .logo {
      text-align: center;
      margin-top: 60px;
      margin-bottom: 40px;
    }
    .container {
      max-width: 960px;
    }
  }
}