/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Medium.otf");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "Didot";
  src: url("fonts/Didot.ttf");
  font-weight: normal;
  font-style: normal; }
/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
  font-size: 140%;
  line-height: 1.5;
  color: #767676;
  background-color: white; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  color: #767676;
  text-decoration: none; }
  a:focus, a:hover {
    text-decoration: underline; }

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit; }

::selection {
  background-color: #04a4cc;
  color: white;
  text-shadow: none; }

/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
/**
 * Alignment
 */
.alignnone {
  margin: 5px 15px 15px 0; }

.aligncenter {
  display: block;
  margin: 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 15px 15px; }

.alignleft {
  float: left;
  margin: 5px 15px 15px 0; }

/**
 * Gallery & images
 */
.wp-caption {
  background: white;
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: 5px 5px;
  text-align: center; }
  .wp-caption img {
    width: auto;
    max-width: 98.5%;
    height: auto;
    border: 0 none;
    padding: 0;
    margin: 0; }

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 5px 5px;
  font-size: 140%;
  line-height: 1.5; }

/**
 * partials/utils
 * ---
 * Utils classes
 */
.clear:before, .clear:after {
  content: " ";
  display: table; }
.clear:after {
  clear: both; }

.reset-box {
  padding: 0;
  margin: 0; }

/**
 * partials/wrapper
 * ---
 */
.wrapper {
  max-width: 960px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative; }

/**
 * partials/header
 * ---
 */
/**
 * partials/nav
 * ---
 * Menus
 */
.nav {
  width: 100%;
  text-align: center;
  margin-top: 40px; }
  .nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
    .nav ul li {
      display: inline-block; }
      .nav ul li a {
        text-transform: uppercase;
        padding: 12px 40px;
        color: #ccc;
        font-weight: 600;
        font-size: 1rem;
        font-family: 'Gotham'; }

/**
 * partials/sidebar
 * ---
 */
/**
 * partials/footer
 * ---
 */
/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
html {
  width: 100%;
  overflow-x: hidden; }
  html body {
    width: 100%;
    overflow-x: hidden; }
    html body p {
      line-height: 220%;
      font-weight: 600;
      margin-bottom: 48px; }
    html body .menu-toggle {
      display: none;
      font-size: 24px; }
    html body .slider.desktop {
      display: block; }
    html body .slider.mobile {
      display: none; }
    html body #slideHeader .desktop {
      display: block; }
    html body #slideHeader .mobile {
      display: none; }

#slideHeader {
  height: auto; }

#missionBox {
  position: relative;
  z-index: -1;
  margin-top: -480px; }
  #missionBox .box {
    background: #f2f2f2;
    padding-top: 240px;
    padding: 480px 21% 60px;
    text-align: center; }
    #missionBox .box p {
      line-height: 240% !important;
      font-weight: 600;
      margin-bottom: 60px; }
      #missionBox .box p b {
        color: #000; }

#tourDates {
  position: relative;
  margin-bottom: 100px; }
  #tourDates .box {
    margin-top: -60px;
    background: transparent;
    border: 2px solid #000;
    padding: 80px 0px 60px; }
    #tourDates .box .tour-date {
      margin-bottom: 50px; }
    #tourDates .box h1 {
      font-family: 'Didot' !important;
      margin: 0px auto 20px;
      color: #000;
      font-size: 2.5rem; }
    #tourDates .box h4 {
      margin: 0px;
      font-size: 1rem; }
  #tourDates .credits {
    max-width: 50%;
    margin: 90px auto 8px; }
    #tourDates .credits p {
      margin-bottom: 0px;
      font-weight: 600; }
    #tourDates .credits img {
      max-width: 75%; }

#testimonialSlider .slider {
  width: 100%; }
  #testimonialSlider .slider .slide {
    width: 100%;
    cursor: pointer; }
    #testimonialSlider .slider .slide .quote {
      max-width: 40%;
      margin-left: 80px;
      margin-top: 45px;
      font-size: 2rem;
      color: #fff;
      line-height: 140%;
      font-weight: 600; }

#buyTheBook {
  margin-top: 160px; }
  #buyTheBook .box {
    background: #f2f2f2;
    padding: 60px 160px; }
    #buyTheBook .box .box-contain {
      padding: 0px 5%;
      margin: 0 auto; }
    #buyTheBook .box img {
      margin-top: -160px; }

#followMyStory .box {
  padding: 60px 160px; }

#thumbnailStrip .thumbnail-container {
  max-width: 1140px;
  margin: 0 auto; }
  #thumbnailStrip .thumbnail-container .thumbnail {
    width: 210px;
    height: 210px;
    display: inline-block;
    margin-right: 18px; }
    #thumbnailStrip .thumbnail-container .thumbnail:last-child {
      margin-right: 0px; }

#downloadTheApp {
  padding: 60px 0px;
  margin-top: 60px; }
  #downloadTheApp h1 {
    font-family: 'Didot' !important; }
  #downloadTheApp p {
    max-width: 55%; }
  #downloadTheApp ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
    #downloadTheApp ul li {
      display: inline-block;
      margin: 0px 10px;
      width: 40%; }
      #downloadTheApp ul li:first-child {
        margin-left: 0px; }
  #downloadTheApp .box {
    position: relative; }
  #downloadTheApp .foreground {
    position: absolute;
    bottom: 0px;
    right: 10px; }

.btn {
  color: #000;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 20px;
  border: 2px solid #000;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out; }
  .btn:hover {
    background: #000;
    color: #fff;
    text-decoration: none; }

@media all and (max-width: 767px) {
  html {
    font-size: 62.5% !important; }
    html body {
      font-size: 62.5% !important; }
      html body .slider.desktop {
        display: none !important; }
      html body .slider.mobile {
        display: block !important; }
      html body .logo {
        max-width: 75%;
        margin: 30px auto !important; }
      html body .menu-toggle {
        display: block;
        margin-top: 20px;
        position: relative;
        z-index: 8; }
      html body .btn {
        line-height: 42px;
        display: block; }
      html body .nav {
        display: none;
        position: absolute;
        z-index: 5;
        background: rgba(242, 242, 242, 0.95);
        max-width: 75%;
        left: 12.5%;
        top: 30px; }
        html body .nav.active {
          display: block !important; }
        html body .nav ul li {
          display: block;
          margin: 40px auto; }
          html body .nav ul li a {
            font-size: .825rem;
            color: #000; }
      html body #slideHeader .desktop {
        display: none; }
      html body #slideHeader .mobile {
        display: block; }
      html body .container {
        padding: 0px 12.5%; }
      html body #missionBox {
        margin-top: 0px; }
        html body #missionBox .box {
          padding: 20px; }
      html body #tourDates {
        margin-bottom: 0px; }
        html body #tourDates .box {
          border: 0px;
          margin-top: 0px;
          padding: 50px 0px; }
          html body #tourDates .box .tour-date h1 {
            margin-bottom: 4px; }
          html body #tourDates .box .tour-date a {
            display: block; }
        html body #tourDates .credits {
          max-width: 75%; }
          html body #tourDates .credits p {
            margin-bottom: 12px; }
      html body #testimonialSlider .container {
        max-width: 100%;
        padding: 0px; }
        html body #testimonialSlider .container .slider .slide .quote {
          font-size: 1.4rem;
          margin-left: 7.5%;
          max-width: 55%; }
      html body #buyTheBook {
        margin-top: 80px; }
        html body #buyTheBook .box {
          padding: 0px 10px 20px; }
          html body #buyTheBook .box img {
            margin-top: -40px; }
      html body #followMyStory {
        margin-top: 60px; }
        html body #followMyStory .box {
          padding: 0px; }
      html body #thumbnailStrip .thumbnail-container {
        margin-top: 40px;
        text-align: center; }
        html body #thumbnailStrip .thumbnail-container .thumbnail {
          width: 40%;
          height: auto;
          margin: 10px; }
          html body #thumbnailStrip .thumbnail-container .thumbnail:nth-of-type(5) {
            display: none; } }
@media all and (min-width: 768px) and (max-width: 1000px) {
  html body .nav ul li a {
    padding: 8px 8px; }
  html body #tourDates .box {
    max-width: 480px;
    margin: -60px auto 0px; }
  html body #thumbnailStrip .thumbnail-container {
    text-align: center; }
    html body #thumbnailStrip .thumbnail-container .thumbnail {
      width: 15%; } }
html {
  font-size: 87.5% !important; }
  html body {
    font-size: 87.5%; }
    html body h1 {
      font-size: 2.4rem;
      font-family: 'Gotham' !important; }
    html body h2 {
      font-size: 2rem;
      font-family: 'Gotham' !important; }
    html body h3 {
      font-size: 1rem;
      font-family: 'Gotham' !important; }
    html body h4 {
      font-size: 1rem;
      text-transform: uppercase;
      font-family: 'Gotham' !important; }
    html body p {
      font-size: 1rem;
      font-family: 'Gotham' !important; }
    html body ul li {
      font-size: 1rem;
      font-family: 'Gotham' !important; }
    html body a {
      font-size: 1rem;
      font-family: 'Gotham' !important; }
    html body span {
      font-size: 1rem;
      font-family: 'Gotham' !important; }
    html body img {
      max-width: 100%; }
    html body .logo {
      text-align: center;
      margin-top: 60px;
      margin-bottom: 40px; }
    html body .container {
      max-width: 960px; }
